* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}

h1 {
	font-size: 50px;
	letter-spacing: 3px;
	margin: 5px;
}

/* Navbar and Side nav */

.nav {
	position: sticky;
}

nav {
	display: flex;
	position: sticky;
	justify-content: space-around;
	align-items: center;
	min-height: 8vh;
	background-color: #000;
}

.logo {
	color: whitesmoke;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 20px;
}

.nav-links {
	display: flex;
	justify-content: space-around;
	width: 40%;
}

.nav-links a {
	color: whitesmoke;
	font-weight: bold;
	font-size: 14px;
}

.nav-links a:hover {
	color: #91b24e;
}

.side-nav {
	width: 25px;
	height: 5px;
	color: whitesmoke;
	margin: 5px;
}

.side-nav {
	display: none;
	cursor: pointer;
}

/* End Navbar */
/* Showcase Area */

.show-case {
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url('./sky.jpg');
	background-color: lightsteelblue;
	height: 92vh;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.header {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	border: 2px solid #000;
	border-radius: 20px;
	height: 30vh;
	width: 50%;
	background-color: rgba(91, 119, 114, 0.5);
}

.header p {
	letter-spacing: 3px;
	margin: 5px;
}

.searchBTN {
	text-align: center;
	margin: 10px;
	padding: 2px;
	width: 25%;
	height: 25px;
	border-radius: 10px;
	color: #fff;
	background-color: rgb(91, 119, 114);
	border: 1px solid #000;
	cursor: pointer;
}

.searchBTN:hover {
	background-color: #000;
	border: 1px solid rgb(91, 119, 114);
}
/*End showcase area*/
/*Start Search Area*/
#search {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-content: space-around;
	align-items: flex-start;
	height: 100vh;
	margin: 50px;
}

.searchCard {
	display: flex;
	align-self: center;
	justify-content: center;
	align-items: center;
	order: 0;
	flex: 0 1 auto;
	flex-direction: column;
	text-align: center;
	border: 1px solid #0b5269;
	border-radius: 20px;
	background-color: #eae1e1;
	height: 30vh;
	width: 50%;
}

input {
	width: 50%;
	height: 7%;
	margin: 5px;
}
.submitBTN {
	margin: 10px;
	padding: 2px;
	width: 25%;
	height: 25px;
	border-radius: 10px;
	color: #fff;
	background-color: rgb(91, 119, 114);
	border: 1px solid #000;
	cursor: pointer;
}
.cardContainer {
	display: flex;
	align-self: center;
	justify-content: center;
	align-items: center;
	order: 0;
	flex: 0 1 auto;
	/* flex-direction: row; */
	flex-flow: row wrap;
	justify-content: space-evenly;
	width: 100%;
	height: auto;
}

.card {
	text-align: center;
	width: 35%;
	height: auto;
	border-radius: 20px;
	border: 1px solid black;
	margin: 10px auto;
	box-shadow: 5px 5px rgba(1, 38, 51, 0.4), 10px 10px rgba(16, 75, 87, 0.3), 15px 15px rgba(94, 133, 126, 0.2),
		20px 20px rgba(196, 205, 186, 0.1);
}

.title {
	margin: 5px;
	padding: 5px;
	border-bottom: 1px solid #000;
}

.infoDiv {
	padding: 5px;
	border-bottom: 1px solid #000;
}

.infoBTNs {
	margin: 10px;
}

.regionInfo,
.map {
	text-align: center;
	border: 1px solid #6a8c83;
	color: #fff;
	background-color: #265e64;
	border-radius: 5px;
	margin: 10px;
	padding: 5px;
}

.alert {
	text-align: center;
	color: white;
	border-radius: 20px;
	background-color: #ab2e46;
	width: 50%;
	height: 30px auto;
}

@media screen and (max-width: 768px) {
	body {
		overflow-x: hidden;
	}
	.nav {
		position: sticky;
		top: 0;
	}
	.nav-links {
		display: flex;
		flex-direction: column;
		align-items: center;
		position: absolute;
		height: 92vh;
		width: 50%;
		top: 8vh;
		right: 0px;
		transform: translateX(100%);
		transition: transform 0.5s ease-in;
		background-color: black;
	}
	.nav-links li {
		opacity: 0;
	}
	.side-nav {
		display: block;
	}

	.header {
		text-align: center;
		height: 30vh;
		width: 80%;
		background-color: rgba(91, 119, 114, 0.5);
	}

	.searchBTN {
		text-align: center;
		padding: 5px;
		height: 20%;
		width: 30%;
	}
	.searchCard {
		text-align: center;
		border-radius: 20px;
		height: 50%;
		width: 80%;
	}

	.cardContainer {
		flex-direction: column;
		/* flex-flow: row wrap; */
		justify-content: space-evenly;
		width: 100%;
	}
	.card {
		width: 100%;
		height: auto;
	}
}

.nav-active {
	transform: translateX(0);
}
@keyframes navLinkFade {
	from {
		opacity: 0;
		transform: translateX(50px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}
